# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Debug files
delve/*
dlv

# Misc
.aws-sam
**/output.txt
**/payload.json
